<script id="signalsIndexTpl" type="text/x-jquery-tmpl">	
	<div>				
		<div class="summary-log" tabindex="1">
			
		</div>
	</div>		
</script>

<script id="signalsTpl" type="text/x-jquery-tmpl">	
<div>
	<div class="summary-log ip">
		<div class="head">Индикатор активных трендов</div>
		<table>
			<tr>
				<th>Символ</th>
				<th>D1</th>
				<th>H4</th>
				<th>H1</th>
				<th>M30</th>
							
			</tr>
			{{each(i, val) activeTrends}}
			<tr {{if i%2}}class="odd"{{/if}}>
				<td><span class="create-slice">${i}</span></td>
				
				{{each(i2, val2)  val}}
					<td>
					{{if val2>0}}
						<span class="signal gray " onclick="T.signals.loadStatistic('${period}','${i}');">{{html T.signals.periodToStr(val2) }}</span>
					{{else}}
						{{if direct==0}}<span class="signal blue {{html T.signals.shadow(period,i)}}" onclick="T.signals.loadStatistic('${period}','${i}');">{{html T.signals.periodToStr(period) }}</span>{{/if}}
						{{if direct==1}}<span class="signal green {{html T.signals.shadow(period,i)}}" title="Buy: ${buy} Sell: ${sell}" onclick="T.signals.loadStatistic('${period}','${i}');">{{html T.signals.periodToStr(period) }}</span>{{/if}}
						{{if direct==2}}<span class="signal red {{html T.signals.shadow(period,i)}}" title="Buy: ${buy} Sell: ${sell}" onclick="T.signals.loadStatistic('${period}','${i}',this);">{{html T.signals.periodToStr(period) }}</span>{{/if}}
						{{if direct==3 || direct==4}}<span class="signal gray" onclick="T.signals.loadStatistic('${period}','${i}');">{{html T.signals.periodToStr(period) }}</span>{{/if}}
						
					{{/if}}	
					</td>				
				{{/each}}
				
				
			</tr>
			{{/each}}			
		</table>	
	</div>
	<div class="summary-log ip-list" tabindex="1" style="float:right;">
		<div class="head">История торговых сигналов</div>
		<div class="settings">
			<a class="btn_small gray s_btn" name="0" href="#"><span>Search</span></a>
			<select name="pair" id="ip-list-pair" class="pairs">
				<option value="">PAIRS</option>
				{{each(i, val) pairs}}
					<option value="${val}" {{if val==pair}}selected="selected"{{/if}}>${val}</option>
				{{/each}}						
			</select>
			<select name="period" id="ip-list-period" class="periods">
				<option value="">ALL</option>
				{{each(i, val) periods}}
					<option value="${val}" {{if val==period}}selected="selected"{{/if}}>${i}</option>
				{{/each}}						
			</select>
			<div class="clear"></div>
		</div>
		<table>
		<tr>
			<th>#</th>
			<th>Дата</th>
			<th>Символ</th>	
			<th>Период</th>		
			<th>BUY</th>
			<th>SELL</th>
			<th>Ask</th>
			<th>Range</th>
			<th>Status</th>
			<th>Действие</th>				
		</tr>
		{{each(i, val) log}}
			<tr {{if i%2}}class="odd"{{/if}}>
				<td>${id}</td>
				<td>{{html T.date(tstamp)}}</td>
				<td>${symbol}</td>				
				<td>${period}</td>
				<td>${buy}</td>	
				<td>${sell}</td>
				<td>${ask}</td>		
				<td>{{html T.signals.round((buy-sell),5) }}</td>
				<td>{{if direct==0}}Waiting{{/if}}{{if direct==1}}Buy Trend{{/if}}{{if direct==2}}Sell Trend{{/if}}{{if direct==3}}Buy Close{{/if}}{{if direct==4}}Sell Close{{/if}} </td>
				<td>${logText}</td>				
			</tr>
		{{/each}}
		</table>		
		<div class="pages-box">{{html T.paging(logPaging) }}</div>
		</div>

</div>

</script>


<script id="sliceDataTpl" type="text/x-jquery-tmpl">	
<div>
	<div class="summary-log data-slice">
			<table>
		<tr>
			<th>#</th>
			<th>Дата</th>
			<th>Символ</th>	
			<th>Период</th>		
			<th>BUY</th>
			<th>SELL</th>
			<th>High</th>
			<th>Low</th>			
			<th>Profit</th>	
			<th>Risk</th>	
			<th>Ratio</th>
		</tr>
	{{each(i, val) table.data}}
			<tr {{if i%2}}class="odd"{{/if}}>
				<td>${id}</td>
				<td>{{html T.date(tstamp)}}</td>
				<td>${symbol}</td>				
				<td>${period}</td>
				<td>${buy}</td>	
				<td>${sell}</td>
				<td>${high}</td>
				<td>${low}</td>	
				<td>${profit}</td>
				<td>${risk}</td>
				<td>${ratio}%</td>				
			</tr>
		{{/each}}
		<tr>
			<th colspan="8" align="right">Total:</th>
			<th>${table.total.profit}</th>
			<th>${table.total.risk}</th>
			<th>${table.total.ratio}</th>
		</tr>
		</table>	
	</div>
</div>
</script>
